/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include "swe_keys.h"

#define DEFAULT 0
#define NUM_FN  1
#define NAV_SYM 2

/ {
    behaviors {
        hm: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    /*           40 Keys
    ╭─────────────────╮ ╭─────────────────╮
    │    0  1  2  3  4│ │ 5  6  7  8  9   │
    │10 11 12 13 14 15│ │16 17 18 19 20 21│
    │22 23 24 25 26 27│ │28 29 30 31 32 33│
    ╰────────╮34 35 36│ │37 38 39╭────────╯
             ╰────────╯ ╰────────╯       */

    keymap {
        compatible = "zmk,keymap";

        default_layer {
// ╭─────────────────────╮ ╭──────────────────────╮
// │  Q  W  E  R  T      │ │  Y  U  I  O  P       │
// │⇧ A  S  D  F  G      │ │  H  J  K  L  Ö     Å │
// │⌃ Z  X  C  V  B      │ │  N  M  ,  .  -     Ä │
// ╰────╮ESC/L2 ALT SPC  │ │ RET BSP/⌘ TAB/L1╭───╯
//      ╰─────────────────╯ ╰─────────────────╯
            bindings = <
            &kp Q  &kp W  &kp E  &kp R  &kp T       &kp Y  &kp U  &kp I      &kp O    &kp P
&kp LSHFT   &kp A  &kp S  &kp D  &kp F  &kp G       &kp H  &kp J  &kp K      &kp L    &kp SE_OO     &kp SE_AE
&kp LCTRL   &kp Z  &kp X  &kp C  &kp V  &kp B       &kp N  &kp M  &kp COMMA  &kp DOT  &kp SE_MINUS  &kp SE_AA
              &lt NAV_SYM ESC  &kp LALT  &kp SPACE   &kp RET  &hm LGUI BSPC  &lt NUM_FN TAB
            >;
        };

        num_fn_layer {
// ╭─────────────────────╮ ╭──────────────────────╮
// │  1  2  3  4  5      │ │  6  7  8  9  0       │
// │  F1 F2 F3 F4 F5     │ │  F6 F7 F8 F9 F10     │
// │                     │ │  ⇦        F11 F12     │
// ╰────╮                │ │              ╭────────╯
//      ╰─────────────────╯ ╰─────────────╯
            bindings = <
            &kp N1  &kp N2  &kp N3  &kp N4  &kp N5      &kp N6         &kp N7  &kp N8  &kp N9   &kp N0
&trans      &kp F1  &kp F2  &kp F3  &kp F4  &kp F5      &kp F6         &kp F7  &kp F8  &kp F9   &kp F10  &trans
&trans      &trans  &trans  &trans  &trans  &trans       &kp C_AC_BACK  &trans  &trans  &kp F11  &kp F12  &trans
                    &trans  &trans  &trans               &trans         &trans  &trans
            >;
        };

        nav_sym_layer {
// ╭─────────────────────╮ ╭──────────────────────╮
// │              '      │ │ PgUp Home ↑  End Del  │
// │     <  [  {  (      │ │ PgDn ←    ↓  →        │
// │  |  >  ]  }  )     │ │  ⇦                     │
// ╰────╮                │ │              ╭────────╯
//      ╰─────────────────╯ ╰─────────────╯
            bindings = <
            &none       &kp RBRC   &none       &kp MINUS   &kp SE_SQT      &kp PG_UP      &kp HOME  &kp UP    &kp END    &kp DEL
&trans      &none       &kp SE_LT  &kp SE_LBKT &kp SE_LBRC &kp SE_LPAR    &kp PG_DN      &kp LEFT  &kp DOWN  &kp RIGHT  &none  &none
&trans      &kp SE_PIPE &kp SE_GT  &kp SE_RBKT &kp SE_RBRC &kp SE_RPAR    &kp C_AC_BACK  &none     &none     &none      &none  &none
                        &trans     &trans      &trans                      &trans         &trans    &trans
            >;
        };
    };
};
